<% include ./partials/header.ejs %>
<div class="col-md-12">
<article class="col-md-8 col-md-offset-1 col-sm-12" style="height: 700px;">
    <h1>Brad Langshaw</h1>
    <aside>
    <h3>About Me</h3>
    <p class="articleParagraph"> I build, code, type, design or whatever you'd like to call it, I make websites part time. I make all of my websites fast and responsive. I work with many different web programming languages such as HTML5, CSS3, JavaScript, C# and much more. I also know how to use the Adobe Master Suite with skills ranging from Adobe Illustrator to Adobe Premiere and I am in the process of learning to animate in video. I understand how to work with API's from Google and Facebook and can easily learn more. I can use all of the applications in Microsoft Office. Windows is my operating system of choice all though I do have some understanding of Linux and Mac OS. On top of all of that I also built my own PC and Apache2 Based Web Server. 
    YouTube is a side project that I mostly just enjoy doing as a hobby at the moment, although I do hope to build a large veiwer base to help fund my future endevors</p>
    </aside>
    </article>
<% include ./partials/footer.ejs %>