<% include ./partials/header.ejs %>
<div class="col-md-12">
<article class="col-md-8 col-md-offset-1 col-sm-12" style="height: 700px;">
    <h1>Welcome To BradLangshaw.Tech</h1>
    <p class="articleParagraph">This Website is a collection of my online work and projects. It varies from work I have completed on websites as well as school and Youtube content.</p>
    <aside>
    <h2>My Latest Video On Youtube!</h2>
    <div class="text-center">
    <iframe width="640" height="360" src="http://www.youtube.com/embed?max-results=1&controls=0&showinfo=0&rel=0&listType=user_uploads&list=bradlangs" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="articleParagraph"> This weeks video was spent talking about latest smartphone rumors for 2017. The Samsung Galaxy S8, IPhone 8, One Plus 5 and more are discussed.</p>
    </aside>
    </article>
<% include ./partials/footer.ejs %>