<% include ./partials/header.ejs %>
<div class="col-md-12">
<article class="col-md-9" style="height: 700px;"> 
    <form>
    <div class="col-md-6">
    <label for="articleHeader">Artlicle Header</label>
    <label for="dateAndAuthor">Date and Author</label>
    <label for="articleParagraphInput">Article Content</label>
    <label for="articleParagraphInput">Article Content</label>
    <input id="articleHeader" placeholder="Type The Title of The Article Here"></input>
    <input id="dateAndAuthor" placeholder="Type The Title of The Article Here"></input>    
    <textarea class="col-md id="articleParagraphInput" placeholder="Type Content here"></textarea>
    <aside>
    <h2>Insert YouTube Embeded Video Link Below</h2>
    <input id="YoutubeEmbInput" placeholder="Insert <iframe> here"></input>
    </aside>
    </div>
    </form>
    </article>
<% include ./partials/footer.ejs %>