<% include ./partials/header.ejs %>
<div class="col-md-12">
<article class="col-md-8 col-md-offset-1 col-sm-12" style="height: 700px;">
    <h1><%= title %></h1>
    <div class="col-md-5 col-md-offset-1">
    <a href="http://cmielectric.ca"><h3>CMI Electric's Live Site</h3><img class="projects" src="images/project0.png" width="100%"></img></a>
    <div class="projectParagraph">
    <div>
    <p>This was a contracted job for a electrician business. Responsive Single Page Sight</p>     
    </div>
    </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
            100% - Css/Forms Skills Example
        </div>
    </div>
    </div>
    <div class="col-md-5">
    <a href="https://youtube.com/user/bradlangs"><h3>1 - 2 Video(s) / Week</h3><img class="projects" src="images/Youtube.jpg" width="100%"></img></a>    
    <div class="projectParagraph">
    <div>
    <p>I speak about video games and technology on camera and would like to expand into other topics</p> 
    </div>
    </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:20%; color:black;">
            20% - Video Skills
        </div>
    </div>
    </div>
     <div class="col-md-5 col-md-offset-1">
    <a href="http://gc200243850.computerstudi.es/virtualboy"><h3>Mario Web Site for School</h3><img class="projects" src="images/project1.png" width="100%"></img></a>  
    <div class="projectParagraph">
    <div>
    <p>First Semester Of Interactive Web Design</p>  
    </div>
    </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
            90% Grade - CSS Skills Example
        </div>
    </div>
     </div>
     <div class="col-md-5">
    <a href="http://weightliftinggoaltracker.azurewebsites.net/Account/Login"><h3 class="projectLabels">Workout tool</h3><img class="projects" src="images/project4.png" width="100%"></img></a>    
    <div class="projectParagraph">
    <div>
    <p>Made in Asp.net, C# Class. This application shows my knowledge of log in and register forms for gaining users or managing employees </p> 
    </div>
    </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80% Grade - C# Skills Example
        </div>
     </div>
       </div>
        <div class="col-md-5 col-md-offset-1">
    <a href="http://bradlangshaw1.azurewebsites.net/"><h3 class="projectLabels">Original Portfolio Site</h3><img class="projects" src="images/project3.png" width="100%"></img></a>    
   <div class="projectParagraph">
    <div>
    <p ="projectParagraph">I built this simple website for a Css class, it uses some JavaScript as well.</p> 
  </div>
  </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80% Grade - CSS & JavaScript Skills Example
        </div>
     </div>
       </div>
         <div class="col-md-5">
            <a href="https://muskokafinal.herokuapp.com/"><h3 class="projectLabels">Muskoka Steamship App</h3><img class="projects" src="images/project5.png" width="100%"></img></a>    
            <div class="projectParagraph">
            <div>
        <p>I built this simple website for a class, it uses NodeJS.</p> 
        </div>
        </div>
    <div class="progress col-md-12">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
            80% Grade - Web Project Studio Final Assignment
        </div>
     </div>
       </div>

    </article>
<% include ./partials/footer.ejs %>