<% include ./partials/header.ejs %>
<div class="col-md-12">
<article class="col-md-8 col-md-offset-1 col-sm-12" style="height: 700px;">
    <h1>Thank You For Contacting Me</h1>
    <p class="articleParagraph">I always try to make sure I get back within 24 hours<br> If not, I may have disregarded your email as spam and you may want to try again</p>
    <a href="/">Take Me Home</a>
   </article>
<% include ./partials/footer.ejs %>